# deps
node_modules/

# next
.next/
out/
build/
next-env.d.ts
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
prisma/dev.db

# testes / coverage
coverage/
playwright-report/
test-results/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json

# vercel
.vercel
